
body {
    padding: 3%;
}

img {
    width: 100%;
    border-radius: 2%;
}

table {
    width: 100%;
}

table, td {
    border: 2px solid;
    border-collapse: collapse;
    padding-bottom: 5px;
}



.prep {
    padding: 3%;
    background-color: hsl(333, 26%, 92%);
}
